@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&family=Ubuntu:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh; }

html {
  height: 100vh; }

h1 {
  font-family: "roboto"; }

h2 {
  font-family: "ubuntu"; }

p {
  font-family: "Ubuntu"; }

.linea {
  margin: 1rem 0;
  color: inherit;
  opacity: 0.25;
  border-top: 1px solid;
  height: 2px;
  padding: 0; }

.lineaOrange {
  color: #f4623a;
  border-top: 2px solid;
  width: 50%;
  margin: auto;
  opacity: 1; }

.activo {
  color: #f4623a !important; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  animation: fadeIn 1s linear 1s infinite alternate both; }

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #543533;
  background: linear-gradient(180deg, #543533 0%, #000000 80%);
  transition: background-color 0.2s ease;
  position: inherit; }
  #mainNav .navbar-toggler {
    background-color: azure; }
    #mainNav .navbar-toggler:focus {
      box-shadow: none; }
  #mainNav .navbar-brand {
    font-weight: 700;
    color: white; }
    @media (min-width: 279px) {
      #mainNav .navbar-brand {
        width: 120px; }
        #mainNav .navbar-brand img {
          width: 100%;
          height: 100%; } }
  @media (min-width: 279px) and (min-width: 428px) {
    #mainNav .navbar-brand {
      width: 280px; }
      #mainNav .navbar-brand img {
        width: 100%;
        height: 100%; } }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
    color: white; }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: gray;
      transition: color 0.2s ease; }
  #mainNav .fixed-top {
    position: inherit; }
  @media (min-width: 992px) {
    #mainNav {
      box-shadow: none;
      background: none;
      background-color: transparent;
      position: absolute; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:hover {
          color: #fff; }
      #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem; }
        #mainNav .navbar-nav .nav-item .nav-link:hover {
          color: #fff; }
      #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0; }
      #mainNav .text-dark {
        color: #fff !important; } }

#nav404 {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #543533;
  background: linear-gradient(180deg, #543533 0%, #000000 80%);
  transition: background-color 0.2s ease;
  position: inherit; }
  #nav404 .navbar-toggler {
    background-color: azure; }
    #nav404 .navbar-toggler:focus {
      box-shadow: none; }
  #nav404 .navbar-brand {
    font-weight: 700;
    color: white; }
    @media (min-width: 279px) {
      #nav404 .navbar-brand {
        width: 120px; }
        #nav404 .navbar-brand img {
          width: 100%;
          height: 100%; } }
  @media (min-width: 279px) and (min-width: 428px) {
    #nav404 .navbar-brand {
      width: 280px; }
      #nav404 .navbar-brand img {
        width: 100%;
        height: 100%; } }
  #nav404 .navbar-nav .nav-item .nav-link {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
    color: white; }
    #nav404 .navbar-nav .nav-item .nav-link:hover {
      color: gray;
      transition: color 0.2s ease; }
  #nav404 .fixed-top {
    position: inherit; }
  @media (min-width: 992px) {
    #nav404 {
      box-shadow: none;
      background: none;
      background-color: currentColor;
      position: initial; }
      #nav404 .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #nav404 .navbar-brand:hover {
          color: #fff; }
      #nav404 .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem; }
        #nav404 .navbar-nav .nav-item .nav-link:hover {
          color: #fff; }
      #nav404 .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0; }
      #nav404 .text-dark {
        color: #fff !important; } }

.heroImage, .heroImage2, .heroImage3, .heroImage4, .heroImage5 {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("../images/indexHero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .heroImage h1, .heroImage2 h1, .heroImage3 h1, .heroImage4 h1, .heroImage5 h1 {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #f4623a;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); }
  .heroImage p, .heroImage2 p, .heroImage3 p, .heroImage4 p, .heroImage5 p {
    font-size: textSm;
    color: #f4623a;
    color: #fff; }
    .heroImage p mark, .heroImage2 p mark, .heroImage3 p mark, .heroImage4 p mark, .heroImage5 p mark {
      background-color: #f4623a;
      opacity: 0.7;
      color: #fff;
      font-size: 1.2rem; }
  @media (min-width: 992px) {
    .heroImage, .heroImage2, .heroImage3, .heroImage4, .heroImage5 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0; }
      .heroImage h1, .heroImage2 h1, .heroImage3 h1, .heroImage4 h1, .heroImage5 h1 {
        font-size: 4rem;
        line-height: 1.2;
        color: #f4623a; } }

.bgOrange {
  background-color: #f4623a; }

.page-section {
  padding: 8rem 0; }

.heroImage2 {
  background-image: url("../images/historiaHero.webp"); }
  .heroImage2 h1 {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #f4623a; }
  .heroImage2 p {
    font-size: textSm;
    color: #f4623a;
    color: #fff; }
    .heroImage2 p mark {
      background-color: #f4623a;
      opacity: 0.7;
      color: #fff; }
  @media (min-width: 992px) {
    .heroImage2 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0; }
      .heroImage2 h1 {
        font-size: 4rem;
        line-height: 1.2;
        color: #f4623a; } }

.bgOrange {
  background-color: #f4623a; }

.page-section {
  padding: 8rem 0; }

.heroImage3 {
  background-image: url("../images/personajesCentro.jpg"); }
  .heroImage3 h1 {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #f4623a; }
  .heroImage3 p {
    font-size: textSm;
    color: #f4623a;
    color: #fff; }
    .heroImage3 p mark {
      background-color: #f4623a;
      opacity: 0.7;
      color: #fff; }
  @media (min-width: 992px) {
    .heroImage3 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0; }
      .heroImage3 h1 {
        font-size: 4rem;
        line-height: 1.2;
        color: #f4623a; } }

.bgOrange {
  background-color: #f4623a; }

.page-section {
  padding: 8rem 0; }

.heroImage4 {
  background-image: url("../images/nathan_drake.jpg"); }
  .heroImage4 h1 {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #f4623a; }
  .heroImage4 p {
    font-size: textSm;
    color: #f4623a;
    color: #fff; }
    .heroImage4 p mark {
      background-color: #f4623a;
      opacity: 0.7;
      color: #fff; }
  @media (min-width: 992px) {
    .heroImage4 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0; }
      .heroImage4 h1 {
        font-size: 4rem;
        line-height: 1.2;
        color: #f4623a; } }

.bgOrange {
  background-color: #f4623a; }

.page-section {
  padding: 8rem 0; }

.heroImage5 {
  background-image: url("../images/uncharted_colabora.webp"); }
  .heroImage5 h1 {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #f4623a; }
  .heroImage5 p {
    font-size: textSm;
    color: #f4623a;
    color: #fff; }
    .heroImage5 p mark {
      background-color: #f4623a;
      opacity: 0.7;
      color: #fff; }
  @media (min-width: 992px) {
    .heroImage5 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0; }
      .heroImage5 h1 {
        font-size: 4rem;
        line-height: 1.2;
        color: #f4623a; } }

.bgOrange {
  background-color: #f4623a; }

.page-section {
  padding: 8rem 0; }

.fondo a:hover {
  opacity: 0.5;
  background-color: #f4623a;
  transition-duration: 500ms; }

#mainInd img {
  border-radius: 50%;
  box-shadow: 7px 11px 31px -1px rgba(0, 0, 0, 0.75); }

#mainInd h3 {
  color: #f4623a; }

#mainInd p {
  font-size: 1.2rem; }

#mainInd2 p, #mainP4 p, #mainC p {
  font-size: 1.2rem; }

#mainH p {
  font-size: 1.2rem; }

@media (min-width: 279px) {
  #mainH2 p {
    font-size: 1.2rem; } }

@media (min-width: 279px) {
  #mainP div img {
    align-items: center; } }

#mainP2 .verMas, #mainP3 .verMas {
  display: none; }

#mainP2 .verMasOculto, #mainP3 .verMasOculto {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease; }

#mainP2 .verMas:checked ~ .verMasText .verMasOculto, #mainP3 .verMas:checked ~ .verMasText .verMasOculto {
  opacity: 1;
  font-size: inherit;
  max-height: 999em; }

#mainP2 .verMas ~ .botonVerMas:before, #mainP3 .verMas ~ .botonVerMas:before {
  content: "Ver mas..."; }

#mainP2 .verMas:checked ~ .botonVerMas:before, #mainP3 .verMas:checked ~ .botonVerMas:before {
  content: "Ver menos..."; }

#mainP2 .botonVerMas, #mainP3 .botonVerMas {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
  font-size: 0.9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 0.25em; }

@media (min-width: 279px) {
  #mainP2 .card, #mainP3 .card {
    align-items: center; }
    #mainP2 .card img, #mainP3 .card img {
      text-align: center; }
  #mainP2 .card-body .linea, #mainP3 .card-body .linea {
    color: #f4623a;
    border-top: 2px solid;
    width: 50%;
    margin: auto;
    opacity: 1; } }

#mainN2 img {
  width: -webkit-fill-available;
  width: -moz-available; }

#mainN2 .lineaOrange {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 20px;
  color: #f4623a;
  border-top: 2px solid; }

#mainC2 .lineaOrange {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 20px;
  color: #f4623a;
  border-top: 2px solid; }

#mainC2 .btn-outline-primary {
  color: black;
  border-color: #f4623a; }
  #mainC2 .btn-outline-primary:hover {
    background-color: #f4623a;
    color: white; }

#mainC3 {
  background-color: #8c7d58; }

#main404 {
  background-color: darkkhaki; }
  #main404 h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2px;
    background-color: darkkhaki; }
  #main404 h2 {
    font-size: 1rem; }
  #main404 img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px; }
  #main404 .svgError {
    width: 100%;
    height: 100%; }
  #main404 a p {
    font-size: 1.2rem;
    margin-top: 2px; }
  @media (min-width: 480px) {
    #main404 img {
      width: 55%;
      height: auto; }
    #main404 .svgError {
      width: 55%;
      height: auto; } }
  @media (min-width: 768px) {
    #main404 h1 {
      text-align: center;
      font-size: 2rem; }
    #main404 img {
      width: 90%;
      height: auto; }
    #main404 .svgError {
      width: 90%;
      height: auto; }
    #main404 a p {
      font-size: 1.6rem; } }
  @media (min-width: 992px) {
    #main404 h1 {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 20px; }
    #main404 img {
      width: 60%;
      height: auto; }
    #main404 .svgError {
      width: 60%;
      height: auto; }
    #main404 a p {
      font-size: 2rem; } }

#foo404 {
  position: inherit;
  bottom: 0;
  width: 100%; }
  @media (min-width: 768px) {
    #foo404 {
      position: absolute;
      bottom: 0;
      width: 100%; } }
