@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&family=Ubuntu:wght@400;500;700&display=swap");

body {
  /* background-image: url(../images/uncharted-4-a-thief-s-end-31488-1920x1080.jpg); */
  margin: 0;
  padding: 0;
}

.seccion {
  display: block;
}

.heroImage {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("../images/uncharted-4-a-thief-s-end-31488-1920x1080.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.heroImage h1 {
  font-size: 2.85rem;
  color: #f4623a;
}

.heroImage p {
  font-size: 1.5rem;
  color: #f4623a;
}

h1 {
  font-family: "roboto";
  font-weight: bold;
}

p {
  font-family: "ubuntu";
}

.heroImage p {
  color: #fff;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
  --animate-delay: 5s;
}

h2 {
  font-family: "ubuntu";
}

mark {
  background-color: #f4623a;
  opacity: 0.7;
  color: #fff;
}

.fondo a:hover {
  opacity: 0.6;
  transition-duration: 500ms;
}

@media (min-width: 992px) {
  .heroImage {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  /* header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1,
  header.masthead .h1 {
    font-size: 3rem;
  } */
}

.bgOrange {
  background-color: #f4623a;
}

.page-section {
  padding: 8rem 0;
}

/*                                                  nav                                                                        */

/*                                                  nav                                                                         */

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

.fixed-top {
  position: inherit;
}

#mainNav .navbar-brand {
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}

.links ul li a {
  color: black;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }

  .fixed-top {
    position: absolute;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  .text-dark {
    color: #fff !important;
  }
}
