// variables globales
$bgNaranja: #f4623a;
$bgNaranja2: #dea057;

// variables text shadow

$textS1: 4px 4px 2px rgba(0, 0, 0, 0.6);

// linea de uso comun
.linea {
  margin: 1rem 0;
  color: inherit;
  opacity: 0.25;
  border-top: 1px solid;
  height: 2px;
  padding: 0;
}

.lineaOrange {
  color: $bgNaranja;
  border-top: 2px solid;
  width: 50%;
  margin: auto;
  opacity: 1;
}

.activo {
  color: #f4623a !important;
}

// map

$circulo: (
  "circ1": 25%,
  "circ2": 50%,
  "circ3": 75%,
);

$shadow: (
  "sh1": 10px 10px 5px 0px rgba(0, 0, 0, 0.75),
  "sh2": 7px 11px 31px -1px rgba(0, 0, 0, 0.75),
  "sh3": 1px 2px 4px rgba(255, 255, 255, 0.52),
);
// mixin
@mixin w-h($width, $height) {
  width: $width;
  height: $height;
}

@mixin textZLC($size, $line, $color) {
  font-size: $size;
  line-height: $line;
  color: $color;
}

@mixin lineaOrange($width, $marginT, $marginB) {
  width: $width;
  margin-top: $marginT;
  margin-bottom: $marginB;
  color: #f4623a;
  border-top: 2px solid;
}

@mixin ajustarImagen {
  width: -webkit-fill-available;
  width: -moz-available;
}

// boton ver mas

.verMas {
  display: none;

  &:checked ~ .verMasText .verMasOculto {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
}
.verMasOculto {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}
.verMas ~ .botonVerMas:before {
  content: "Ver mas...";
}
.verMas:checked ~ .botonVerMas:before {
  content: "Ver menos...";
}
.botonVerMas {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
  font-size: 0.9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}
