// variables globales
$bgNaranja: #f4623a;

$imgExt: -webkit-fill-available;
// linea de uso comun
.linea {
  margin: 1rem 0;
  color: inherit;
  opacity: 0.25;
  border-top: 1px solid;
  height: 2px;
  padding: 0;
}

.lineaOrange {
  color: $bgNaranja;
  border-top: 2px solid;
  width: 50%;
  margin: auto;
  opacity: 1;
}

.activo {
  color: #f4623a !important;
}

// map

$circulo: (
  "circ1": 25%,
  "circ2": 50%,
  "circ3": 75%,
);

$shadow: (
  "sh1": 10px 10px 5px 0px rgba(0, 0, 0, 0.75),
  "sh2": 7px 11px 31px -1px rgba(0, 0, 0, 0.75),
);
// mixin
@mixin w-h($width, $height) {
  width: $width;
  height: $height;
}

@mixin textZLC($size, $line, $color) {
  font-size: $size;
  line-height: $line;
  color: $color;
}

@mixin lineaOrange($width, $marginT, $marginB) {
  width: $width;
  margin-top: $marginT;
  margin-bottom: $marginB;
  color: #f4623a;
  border-top: 2px solid;
}
