@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&family=Ubuntu:wght@400;500;700&display=swap");

$textXsm: 1rem;
$textSm: 1.2rem;
$textMd: 2.2rem;
$textLg: 3rem;
$textXl: 4rem;

h1 {
  font-family: "roboto";
}

h2 {
  font-family: "ubuntu";
}

p {
  font-family: "Ubuntu";
}
