.heroImage {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("../images/indexHero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h1 {
    @include textZLC($textMd, 1.2, $bgNaranja);
  }

  p {
    font-size: textSm;
    color: #f4623a;
    color: #fff;
    mark {
      background-color: $bgNaranja;
      opacity: 0.7;
      color: #fff;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    h1 {
      @include textZLC($textXl, 1.2, $bgNaranja);
    }
  }
}

.bgOrange {
  background-color: $bgNaranja;
}

.page-section {
  padding: 8rem 0;
}

//  header historia.html

.heroImage2 {
  @extend .heroImage;
  background-image: url("../images/historiaHero.webp");
  h1 {
    @include textZLC($textMd, 1.2, $bgNaranja);
  }

  p {
    font-size: textSm;
    color: #f4623a;
    color: #fff;
    mark {
      background-color: $bgNaranja;
      opacity: 0.7;
      color: #fff;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    h1 {
      @include textZLC($textXl, 1.2, $bgNaranja);
    }
  }
}

.bgOrange {
  background-color: $bgNaranja;
}

.page-section {
  padding: 8rem 0;
}

// header personajes.html

.heroImage3 {
  @extend .heroImage;
  background-image: url("../images/personajesCentro.jpg");

  h1 {
    @include textZLC($textMd, 1.2, $bgNaranja);
  }

  p {
    font-size: textSm;
    color: #f4623a;
    color: #fff;
    mark {
      background-color: $bgNaranja;
      opacity: 0.7;
      color: #fff;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    h1 {
      @include textZLC($textXl, 1.2, $bgNaranja);
    }
  }
}

.bgOrange {
  background-color: $bgNaranja;
}

.page-section {
  padding: 8rem 0;
}

// header novedades.html

.heroImage4 {
  @extend .heroImage;
  background-image: url("../images/nathan_drake.jpg");

  h1 {
    @include textZLC($textMd, 1.2, $bgNaranja);
  }

  p {
    font-size: textSm;
    color: #f4623a;
    color: #fff;
    mark {
      background-color: $bgNaranja;
      opacity: 0.7;
      color: #fff;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    h1 {
      @include textZLC($textXl, 1.2, $bgNaranja);
    }
  }
}

.bgOrange {
  background-color: $bgNaranja;
}

.page-section {
  padding: 8rem 0;
}

// header colabora.html

.heroImage5 {
  @extend .heroImage;
  background-image: url("../images/uncharted_colabora.webp");

  h1 {
    @include textZLC($textMd, 1.2, $bgNaranja);
  }

  p {
    font-size: textSm;
    color: #f4623a;
    color: #fff;
    mark {
      background-color: $bgNaranja;
      opacity: 0.7;
      color: #fff;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    h1 {
      @include textZLC($textXl, 1.2, $bgNaranja);
    }
  }
}

.bgOrange {
  background-color: $bgNaranja;
}

.page-section {
  padding: 8rem 0;
}
