.heroImage {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("../images/uncharted-4-a-thief-s-end-31488-1920x1080.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h1 {
    font-size: $textXl;
    color: $bgNaranja;
  }

  p {
    font-size: textSm;
    color: #f4623a;
    color: #fff;
    mark {
      background-color: $bgNaranja;
      opacity: 0.7;
      color: #fff;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
}

.bgOrange {
  background-color: $bgNaranja;
}

.page-section {
  padding: 8rem 0;
}

// header colabora.html

.heroImage5 {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("../images/uncharted_colabora.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h1 {
    font-size: $textXl;
    color: $bgNaranja;
  }

  p {
    font-size: textSm;
    color: #f4623a;
    color: #fff;
    mark {
      background-color: $bgNaranja;
      opacity: 0.7;
      color: #fff;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
}

.bgOrange {
  background-color: $bgNaranja;
}

.page-section {
  padding: 8rem 0;
}

// header novedades.html

.heroImage4 {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("../images/nathan_drake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h1 {
    font-size: $textXl;
    color: $bgNaranja;
  }

  p {
    font-size: textSm;
    color: #f4623a;
    color: #fff;
    mark {
      background-color: $bgNaranja;
      opacity: 0.7;
      color: #fff;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
}

.bgOrange {
  background-color: $bgNaranja;
}

.page-section {
  padding: 8rem 0;
}
