.fondo a:hover {
  opacity: 0.5;
  background-color: $bgNaranja;
  transition-duration: 500ms;
}

// main index.html

#mainInd {
  img {
    border-radius: map-get($circulo, circ2);
    box-shadow: map-get($map: $shadow, $key: "sh2");
  }
  h3 {
    color: $bgNaranja;
  }
  p {
    font-size: $textSm;
  }
}

#mainInd2 {
  p {
    font-size: $textSm;
  }
}

// main historia.html

#mainH {
  p {
    font-size: $textSm;
  }
}

#mainH2 {
  @media (min-width: 279px) {
    p {
      font-size: $textSm;
    }
  }
}

// main personajes.html

#mainP {
  @media (min-width: 279px) {
    div {
      img {
        align-items: center;
      }
    }
  }
}
#mainP2 {
  @media (min-width: 279px) {
    .card {
      align-items: center;
      img {
        text-align: center;
      }
    }
    .card-body {
      .linea {
        color: $bgNaranja;
        border-top: 2px solid;
        width: 50%;
        margin: auto;
        opacity: 1;
      }
    }
  }
}

#mainP3 {
  @extend #mainP2;
}

#mainP4 {
  @extend #mainInd2;
}

// main novedades.html

#mainN2 {
  img {
    @include ajustarImagen;
  }
  .lineaOrange {
    @include lineaOrange(100%, 2px, 20px);
  }
}

// main colabora.html

#mainC {
  @extend #mainInd2;
}

#mainC2 {
  .lineaOrange {
    @include lineaOrange(100%, 2px, 20px);
  }
  .btn-outline-primary {
    color: black;
    border-color: $bgNaranja;
    &:hover {
      background-color: $bgNaranja;
      color: white;
      border-color: $bgNaranja;
    }
  }
}

#mainC3 {
  background-color: #8c7d58;
}

// main error404.html

#body404 {
  background-color: darkkhaki;
}

#main404 {
  //   height: 100%;
  background-color: darkkhaki;

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2px;
    background-color: darkkhaki;
  }
  h2 {
    font-size: 1rem;
  }

  img {
    width: 75%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .svgError {
    width: 55%;
    height: auto;
  }
  a {
    p {
      font-size: 1rem;
      margin-top: 2px;
    }
  }

  //   mediaq
  @media (min-width: 430px) {
    img {
      width: 55%;
      height: auto;
    }
    .svgError {
      width: 55%;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    h1 {
      text-align: center;
      font-size: 2rem;
    }
    img {
      width: 90%;
      height: auto;
    }
    .svgError {
      width: 90%;
      height: auto;
    }
    a {
      p {
        font-size: 1.6rem;
      }
    }
  }

  @media (min-width: 992px) {
    h1 {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
    img {
      width: 60%;
      height: auto;
    }
    .svgError {
      width: 60%;
      height: auto;
    }
    a {
      p {
        font-size: 2rem;
      }
    }
  }
}
